<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>抱歉，您访问的页面没找到</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="refresh" content="3; url=$link.home()">
    <link rel="stylesheet" href="/css/error.css" type="text/css" media="screen" />
</head>
<body>
  <div id='msg-box'>
	<div class='logo'><a href="$link.root()"><img src="$link.img("logo_3.gif")" border="0" alt=""></a></div>
    <div class='title'>抱歉，您访问的页面没找到</div>
    <div class='msg'>我们已经将此错误信息记录下来，并将尽快处理，为此造成您的不便请多见谅</div>		
    <div class='nav'><a href="javascript:history.go(-1)">返回上页</a> <a href="$link.home()">返回首页</a></div>
  </div>
</body>
</html>