<script>
try{
	if(typeof opener.RURL != 'undefined'){
		opener.window.location.href = opener.RURL;
		window.close();
	}
    var doc = opener.document;
	var runjs = opener.runjs;
	var flow = runjs.flow;
	var lm = flow.last_module;
	runjs.initAll();
	runjs.cur_opt="login";
	setTimeout(function(){flow.invokeStack(lm)},100);
	window.close();
}catch(e){
	window.close();
}
</script>